.container{
    overflow: hidden;
}
.img1{
    margin-top: 20px;
    float: left;
    margin-right: 10px;
    
}
.texto1{
    text-align: center;
    margin-top: 40px;
    background-color: rgb(8, 2, 41);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    
}
.div2{
    background-color: rgb(8, 2, 41);
    border-radius: 20px 0px 0px 20px;
    margin-right: 0px;
    padding-right: 15px;
    
}
.texto2{
    color: white;
    text-align: justify;
}
.div3{
   color: white; 
    background-color: rgb(8, 2, 41);
    margin-top: 25px;
    text-align: left;
    border-radius: 20px 20px 20px 20px;
    padding-right: 15px;
}
.texto4{
    color: white; 
    background-color: rgb(8, 2, 41);  
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    
}